<header id="header">
  <nav class="navbar navbar-expand-sm navbar-dark bg-primary">

    <a class="navbar-brand" href="">Concesionario</a>

    <div class="collapse navbar-collapse" id="menu">
      <ul class="nav navbar-nav mr-auto">
        <li>
          <a class="nav-link" [routerLink]="['']">Inicio</a>
        </li>
        <li>
          <a class="nav-link" href="">Crear coche</a>
        </li>
      </ul>
      <ul class="nav navbar-nav float-sm-right" *ngIf="!identity">
        <li>
          <a class="nav-link" [routerLink]="['/login']">Idetifícate</a>
        </li>
        <li>
          <a class="nav-link" [routerLink]="['/register']">Registro</a>
        </li>
      </ul>
      <ul class="nav navbar-nav float-sm-right" *ngIf="identity">
        <li>
          <a class="nav-link" href="#">{{identity.name + ' ' + identity.surname}}</a>
        </li>
        <li>
          <a class="nav-link" [routerLink]="['logout', 1]">
            <i class="fas fa-sign-out-alt"></i>
            Salir
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>
