<header id="header">
  <nav class="navbar navbar-expand-sm navbar-dark bg-primary">

    <a class="navbar-brand" href="">Concesionario</a>

    <div class="collapse navbar-collapse" id="menu">
      <ul class="nav navbar-nav mr-auto">
        <li>
          <a class="nav-link" href="">Inicio</a>
        </li>
        <li>
          <a class="nav-link" href="">Crear coche</a>
        </li>
      </ul>
      <ul class="nav navbar-nav float-sm-right">
        <li>
          <a class="nav-link" href="">Idetifícate</a>
        </li>
        <li>
          <a class="nav-link" href="">Registro</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>
